@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ecf0f1;
}

.bgImg {
  background-image: url("../public/bg-register.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
