@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ecf0f1;
}

.bgImg {
  background-image: url("../public/bg-register.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* test */
.ciclegraph {
  position: relative;
  width: 500px;
  height: 500px;
  margin: calc(100px / 2 + 0px);
}

.ciclegraph:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid teal;
  width: calc(100% - 2px * 2);
  height: calc(100% - 2px * 2);
  border-radius: 50%;
}

.ciclegraph .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: calc(-100px / 2);
  background: teal;
  border-radius: 50%;
}
